.posts {
	padding:0px;
	margin: 16px 0px 0px 0px;
	border-top:1px solid #e0e0e0;
}

.post {
	list-style:none;
	padding:8px;
	border-bottom:1px solid #e0e0e0;
}

.post:hover {
	color: red;
}

.post-date {
	float:right;
}

.poster {
	font-weight:bold;
}
.wrapp{
	width:65%;
	margin:auto;
	background:#fff;
	padding-top:30px;
}
.wrapContent{
	width:100%;
	background:rgb(103,197,103);
}
.navbar{
	margin-bottom:0px !important;
}

